li {
  text-align: center;
  margin-top: 3rem;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  position: relative;
  left: 26.5rem;
  top: 3.5rem;
  font-size: 20px;
}

.game {
  position: relative;
  left: 26.5rem;
  top: 3.0rem;
  font-size: 20px;
}
